  <html>
  <head>
    <title>CheckIN</title>
    <link rel='stylesheet' href='/stylesheets/mystyle.css' />
      
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
  </head>
  <body>
  	<header>
      <h1>Attendance List</h1> 
      
    </header>
    <div class="container">   
        <a href="/attendance"><b>Back</b></a>
        <br>
        <h3><%= group %></h3>
        <h3><%= date %></h3>
        
                <table>
                    <h2>Attendance</h2> 
                    <tr>
                        <th> Name </th>
                        <th> Date </th>
                        <th> Subject </th>
                        <th> Attend </th>
                    </tr>
                    <% for (var i=0; i<students.length; i++) { %> 
                    <tr>
                        <td><%=students[i].Name %></td>
                        <td><%=students[i].Date %></td>
                        <td><%=students[i].SubjName %></td>
                        <td><%=students[i].Attend %></td>
                    </tr>    
                    <% } %>
                </table>
            
    </div> 
      
  </body>
  </html>
